<%= form_for Comment.new, remote: true do |f| %>
  <%= f.hidden_field :commentable_type, value: commentable.class.to_s %>
  <%= f.hidden_field :commentable_id, value: commentable.id %>
  <div class="input-group">
    <%= f.text_field :body, class: "form-control input-lg",
      placeholder: "Your comment..." %>

    <span class="input-group-btn">
      <%= f.submit "Comment", id: "comment-submit-#{commentable.id}",  class: "btn btn-lg" %>
    </span>
  </div><!-- /input-group -->
<% end %>
