<% content_for :head do %>
  <%= render partial: 'shared/logged_out_navbar' %>
<% end %>

<div class="cover">
  <div class="cover-image" style="background-image : url('images/background-image.jpg')"></div>
  <div class="container"> 
    <div class="row"> 
      <div class="col-md-12 text-center"> 
        <div class="container">
          <% flash.each do |key, value| %>
            <div class="alert alert-<%= key %>">
              <%= value %>
            </div>
          <% end %>
        </div>

        <div class="jumbotron">
          <div class="container">
            <h1>Jama</h1> 
            <p>Simple social platform</p>
            <br><br>
            <%= link_to 'Sign up', new_user_registration_path, class: 'btn btn-lg btn-primary' %>
            <%= link_to 'Sign in', new_user_session_path, class: 'btn btn-lg btn-success' %>
          </div>
        </div>

        <div class="container">
          <h1><%= yield :header %></h1>
        </div>
      </div>
    </div>
  </div>
</div>
