<%= form_for(@post) do |f| %>

  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@post.errors.count, "error") %> 
        prohibited this post from being saved:
      </h2>
      <ul>
        <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.text_field :body, class: "form-control input-lg", 
      placeholder: "Whats up?" %>
</div>
<div id="attach_image" class="form-group">
  <%= f.label :images_files %><br>
  <%= f.attachment_field :images_files, multiple: true, presigned: true, direct: true %>
  <%= f.check_box :images_files %>
  <%= f.label :images_files %>
</div>

<div class="form-group text-right">
  <a href="#">
    <i id='toggle_attach' class="-o fa fa-fw fa-lg fa-picture-o umbs-o-up umbs-up"></i>
  </a>
  <%= f.submit "Post", id: "post_submit",  class: "btn btn-primary" %>
</div>
  <% end %>
